.nav {
	z-index: 50;
	background-color: black/*#3a3faf*/;
	position:fixed;
	width:100%;
}

.nav .container {
	position: relative;
	right:10px;
	left:10px;
}

.nav h2 {
	display: block;
	float: left;
	padding-top:10px;
	color: white;
	font-weight: bold;
	font-size: 18px;
}

.nav .container div {
	float: right;
	margin-right: 25px;
}

.nav img {
	display:inline-block;
	padding-top: 5px;
}

.nav p {
	display:inline-block;
	padding-bottom:10px;
	color: white;
	font-weight: bold;
	font-size: 18px;
}

#title, #title h1 {
	background-color: black;/*rgba(104,45,250,0.5);*/
	border-radius:15px;
	font-family: Arial;
	font-size:220px;
	padding:25px;
}

#title spam, .nav spam {
	color: white;
}

#title b, .nav b {
	color: rgba(255,30,30,1);
}

#about-libGDX p {
	width:890px;
	font-size:48px;
}

#autor {
	font-size:18px;
	color:white;
	background-color: blueViolet;
	border-radius: 7px;
	font-style:italic;
}

i {
	font-style:italic;
}

#dev {
	display:inline;
	font-size:80px;
	width:450px;
}

ul {
	width:450px;
}

ul div {
	display: inline-block;
	margin-right:15px;
	margin-left:35px;
}

#about-libGDX ul li {
	font-family: serif;
	font-size: 28px;
}

#about-libGDX .container {
	width:890px;
}

#linux img, #html-5 img, #ios img, #windows img {
	height: 100px;
}

.libgdx-link, .libgdx-link:hover, .libgdx-link:focus {
	color:white;
	background: rgba(255,255,255,0);
	text-shadow: 0px 0px 0px rgba(100,100,100,0);
}

#flisol-logo {
	margin: 0px 5px -5px 5px;
	height:30px;
	width:30px;
}

table {
	border-spacing: 5px;
	width:600px;
	height:500px;
}

th {
	background-color: #1E90FF;
	color: white;
	margin:10px;
	padding:10px;
}

table, td, th {
	border: 1px dashed #1E90FF;
	padding:10px;
	margin:10px;
}

table p {
	width:220px;
	text-align:center;
	font-size:25px;
}

table td h6 {
	width:190px;
	text-align:right;
	font-size:35px;
	vertical-align:center;
}

th h1, h1 {
	font-family: Courrier, serif;
	font-size: 48px;
	font-weight: bold;
}

#historia {
	width:600px;
	padding: 10px;
}

#historia .container {
	margin: 25px;
}

#historia, #historia h1 {
	text-align:center;
	border: 2px dashed #008080;
	padding: 10px 20px 10px 20px;
}

#historia spam {
	display: inline-block;
    -webkit-transform: translateZ(40px);
    -moz-transform:    translateZ(40px);
    -ms-transform:     translateZ(40px);
    -o-transform:      translateZ(40px);
     transform:        translateZ(40px);

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

#historia p {
	text-align: justify;
	font-size: 30px;
	margin-top: 25px;
	border: 2px dashed #008080;
	padding: 10px 20px 10px 20px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style:    preserve-3d; /* Y U need this Firefox?! */
    -ms-transform-style:     preserve-3d;
    -o-transform-style:      preserve-3d;
    transform-style:         preserve-3d;
}

#historia .position-Up {
    -webkit-transform: translateY(200px);
    -moz-transform:    translateY(200px);
    -ms-transform:     translateY(200px);
    -o-transform:      translateY(200px);
    transform:         translateY(200px);
}

#historia .position-Down {
    -webkit-transform: translateY(-200px);
    -moz-transform:    translateY(-200px);
    -ms-transform:     translateY(-200px);
    -o-transform:      translateY(-200px);
    transform:         translateY(-200px);
}

#historia .position-Right {
    -webkit-transform: translateX(250px);
    -moz-transform:    translateX(250px);
    -ms-transform:     translateX(250px);
    -o-transform:      translateX(250px);
    transform:         translateX(250px);
}

#historia .position-Left {
    -webkit-transform: translateX(-250px);
    -moz-transform:    translateX(-250px);
    -ms-transform:     translateX(-250px);
    -o-transform:      translateX(-250px);
    transform:         translateX(-250px);
}

#historia.present .position-Up {
    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);

    -webkit-transition: 1.5s;
    -moz-transition:    1.5s;
    -ms-transition:     1.5s;
    -o-transition:      1.5s;
    transition:         1.5s;
}

#historia.present .position-Down {
    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);

    -webkit-transition: 1.5s;
    -moz-transition:    1.5s;
    -ms-transition:     1.5s;
    -o-transition:      1.5s;
    transition:         1.5s;
}


#historia.present .position-Right {
    -webkit-transform: translateX(0px);
    -moz-transform:    translateX(0px);
    -ms-transform:     translateX(0px);
    -o-transform:      translateX(0px);
    transform:         translateX(0px);
/*
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;*/
}

#historia.present .position-Left {
    -webkit-transform: translateX(0px);
    -moz-transform:    translateX(0px);
    -ms-transform:     translateX(0px);
    -o-transform:      translateX(0px);
    transform:         translateX(0px);
/*
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;*/
}

#historia.present .position-Up
#historia.present .position-Down,
#historia.present .position-Right,
#historia.present .position-Left{
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}
